nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
}
.nav-links{
   
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.nav-links a {
  text-decoration: none;
  color: aliceblue;
}