
*{
margin:0%;
padding:0%;
box-sizing: border-box;
align-items: center;
justify-content: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    height: 80px;
    
}
.nav-links{
   
    display: flex;
    gap:2rem;
    list-style: none;
    
}
.nav-links a {
  text-decoration: none;
  color: aliceblue;
}
.microphone{
    z-index: 1;
   position: absolute;
   margin-left: 46rem;
   margin-top: 13rem;
}
.hero-circle{
 position: absolute;
 margin-left:39rem;
 margin-top: 8rem;
 
 
}
.hero-bg{
width: auto;
height: auto;
}
.subscribe{
    align-items: center;
    justify-content: center;
   display:grid;
}
.About{
    margin-left: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}